/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may
 * add more specific styles.
 */

.center {
  text-align: center;
}

.entry:not(:first-of-type) {
  margin-top: 10px;
}

.glyphicon {
  font-size: 12px;
}

.add-button {
  border-radius: 4px;
}

.final-checkpoint-message {
  color: red;
}