<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
  <title>Brevet Checkpoint Time Calculator</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript: JQuery from a content distribution network (CDN) -->
  <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Moment: Moment.js from a content distribution network (CDN) -->
{#  <script type="text/javascript"#}
{#    src=https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js>#}
{#  </script>#}

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
</head>

  <!-- Our own style sheet -->
  <link rel="stylesheet" href="static/css/calc.css" />

{#<style>#}
{#  .center {#}
{#    text-align: center;#}
{#  }#}
{##}
{#  .entry:not(:first-of-type) {#}
{#    margin-top: 10px;#}
{#  }#}
{##}
{#  .glyphicon {#}
{#    font-size: 12px;#}
{#  }#}
{##}
{#  .add-button {#}
{#    border-radius: 4px;#}
{#  }#}
{#</style>#}

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>Brevet Checkpoint Time Calculator</h1>

<!--
-- If there are any warnings or other messages from a prior
-- request to the server,
-- they appear above the rest of the content, just until the next
-- action.  (This is only on request/response transactions that
-- result in regenerating the page, not on every xmlhttp request.)
-->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->

<div id="alert_placeholder"></div>

<form class="form-horizontal" autocomplete="off">
  <div class="form-group">
    <label for="brevetDistance" class="col-md-2 control-label">
      Brevet distance
    </label>
    <div class="col-md-2">
      <select class="form-control" id="brevetDistance"
              aria-describedby="brevetDistanceHelp">
        <option>200</option>
        <option>300</option>
        <option>400</option>
        <option>600</option>
        <option>1000</option>
      </select>
      <span id="brevetDistanceHelp" class="help-block">km</span>
    </div>
  </div>

  <div class="form-group">
    <label for="startDate" class="col-md-2 control-label">
      Starting Date
    </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="startDate"
             aria-describedby="startDateHelp" placeholder="YYYY/MM/DD"/>
      <span id="startDateHelp" class="help-block">
        default: tomorrow
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="startTime" class="col-md-2 control-label">
      Starting Time
    </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="startTime"
             aria-describedby="startTimeHelp" placeholder="HH:mm"/>
      <span id="startTimeHelp" class="help-block">
        24 hour form, default: 12:00
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">
      Distance units
    </label>
    <div class="col-md-4" id="units">
      <label class="radio-inline">
        <input type="radio" name="unitOptions" id="km" value="km" checked> km
      </label>
      <label class="radio-inline">
        <input type="radio" name="unitOptions" id="miles" value="miles"> miles
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">
      Output dates
    </label>
    <div class="col-md-4" id="dates">
      <label class="radio-inline">
        <input type="radio" name="dateOptions" id="MM/DD" value="MM/DD" checked> MM/DD
      </label>
      <label class="radio-inline">
        <input type="radio" name="dateOptions" id="DD/MM" value="DD/MM"> DD/MM
      </label>
    </div>
  </div>

  <div class="form-group hidden-xs hidden-sm">
    <label class="col-md-2"></label>
    <label class="col-md-2">Distance</label>
    <label class="col-md-4">Location</label>
    <label class="col-md-2">Open Time</label>
    <label class="col-md-2">Close Time </label>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Checkpoint 1</label>
    <div class="col-md-2">
{#      <label class="control-label">Distance</label>#}
      <input class="form-control" type="text" placeholder="0"
             id="startCheckpoint" readonly>
    </div>
    <div class="col-md-4">
{#      <label class="control-label">Location</label>#}
      <input type="text" class="form-control" name="location"
             placeholder="Location"/>
    </div>
    <div class="col-md-2">
{#      <label class="control-label">Close time</label>#}
      <input class="form-control" type="text" placeholder="Open time"
             id="startOpenField" readonly>
    </div>
    <div class="col-md-2">
{#      <label class="control-label">Open time</label>#}
      <input class="form-control" type="text" placeholder="Close time"
             id="startCloseField" readonly>
    </div>
  </div>

  <div class="checkpoints">
    <div class="checkpoint-group">
{#      {% for i in range(1, 25) %}#}
      <div class="entry">
        <div class="form-group">
          <label class="col-md-2 control-label checkpoint-label">Checkpoint 2
          </label>
          <div class="col-md-2">
            <input type="text" class="form-control .checkpoint" id="checkpoint"
                   name="checkpoint" placeholder="Distance"/>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" name="location"
                   placeholder="Location"/>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" placeholder="Open time"
                   id="openField" readonly>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" placeholder="Close time"
                   id="closeField" readonly>
          </div>
        </div>
      </div>
{#      {% endfor %}#}
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"></label>
        <div class="col-md-6">
          <button class="btn btn-success btn-add" type="button">
            Add Checkpoint
          </button>
          <button class="btn btn-danger btn-remove" type="button"
                  disabled="disabled">
            Remove Checkpoint
          </button>
          <button class="btn btn-default .text-button" id="textButton"
                  type="button">
            Generate Text
          </button>
        </div>
{#        <div class="col-md-2">#}
{#          <button class="btn btn-danger btn-remove" type="button"#}
{#                disabled="disabled">#}
{#            Remove Checkpoint#}
{#          </button>#}
{#        </div>#}

{#      <div class="btn-group">#}
{#        <button class="btn btn-success btn-add" type="button">#}
{#            Add Checkpoint#}
{#        </button>#}
{#        <button class="btn btn-danger btn-remove" type="button"#}
{#                disabled="disabled">#}
{#            Remove Checkpoint#}
{#        </button>#}
{#      </div>#}
    </div>

{#    <div class="form-group">#}
{#      <label class="col-md-2 control-label"></label>#}
{#      <div class="col-md-2">#}
{#        <button class="btn btn-default .text-button" id="textButton"#}
{#                type="button">#}
{#          Generate Text#}
{#        </button>#}
{#      </div>#}
{#    </div>#}

  </div>

</form>

<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{#/**#}
{# * ACP Brevet Time Calculator javascript#}
{# * @author H. Keith Hamm#}
{# * @date: Fall 2015#}
{# */#}
{##}
{#var calc = {};#}
{##}
{#// jQuery HTML elements#}
{#calc.distanceSelector = $('#brevetDistance');#}
{#calc.startDateField = $('#startDate');#}
{#calc.startTimeField = $('#startTime');#}
{#calc.startOpenField = $('#startOpenField');#}
{#calc.startCloseField = $('#startCloseField');#}
{#calc.checkpointField = $('input[name="checkpoint"]');#}
{#calc.checkpoint2Open = $('#openField');#}
{#calc.checkpoint2Close = $('#closeField');#}
{#calc.addButton = $('.btn-add');#}
{#calc.removeButton = $('.btn-remove');#}
{#calc.textButton = $('#textButton');#}
{##}
{#// Printing variables#}
{#calc.checkpointVals = [];#}
{#calc.openTimes = [];#}
{#calc.closeTimes = [];#}
{##}
{#calc.isNewSession = true;#}
{#calc.checkpoints = [];  // could replace checkpointList with this after refactor#}
{##}
{#calc.checkpointCount = 1;  // This can just be a call to checkpointList.length#}
{#//calc.checkpointList = [];#}
{##}
{#//calc.Checkpoint = function() {#}
{#//  var that = {};#}
{#//#}
{#//  that.object = {};#}
{#//  that.label = '';#}
{#//  that.distance = 0;#}
{#//  that.location = '';#}
{#//  that.open_time = '';#}
{#//  that.close_time = '';#}
{#//  that.num = 0;#}
{#//  that.id = '';#}
{#//#}
{#//  return that;#}
{#//};#}
{##}
{#// TODO last checkpoint between the brevet distance and that distance plus 10%#}
{#// TODO rewrite to use Checkpoint class, use class to find out which is last#}
{#// TODO reset checkpoints after change is units#}
{##}
{#/**#}
{# * Sets a checkpoint's open and close datetimes.#}
{# */#}
{#calc.setCheckpoint = function(that) {#}
{#  //var newCheckpoint = calc.Checkpoint();#}
{#  //newCheckpoint.object = that;#}
{#  //newCheckpoint.label = '';#}
{#  //newCheckpoint.distance = that.val();#}
{#  //newCheckpoint.location = '';#}
{#  //newCheckpoint.open_time = '';#}
{#  //newCheckpoint.close_time = '';#}
{#  //newCheckpoint.num = 0;#}
{#  //newCheckpoint.id = '';#}
{##}
{#  var openField = that.parents('.form-group').find('#openField');#}
{#  var closeField = that.parents('.form-group').find('#closeField');#}
{##}
{#  var distance = $("#brevetDistance option:selected").val();#}
{#  var startDate = calc.startDateField.val();#}
{#  var startTime = calc.startTimeField.val();#}
{#  var checkpoint = that.val();#}
{#  var num = calc.checkpointCount + 1;#}
{#  var units = $('#units input:radio:checked').val();#}
{#  var dates = $('#dates input:radio:checked').val();#}
{##}
{#  var len = checkpoint.length;#}
{#  for (var i = 0; i < len; i++) {#}
{#    if (isNaN(parseInt(checkpoint.charAt(i))) &&#}
{#        !$('#alert_placeholder').find('#checkpointAlert' + num).length) {#}
{#      calc.alert('Checkpoint '+ num + '\'s distance is invalid.' +#}
{#      ' It must be a number and within the valid distance interval.',#}
{#      'checkpointAlert' + num);#}
{#      // highlight bad fields?#}
{#      break;#}
{#    }#}
{#  }#}
{##}
{#  $.getJSON($SCRIPT_ROOT + '/_calc_date_times', {#}
{#    checkpoint: checkpoint,#}
{#    distance: distance,#}
{#    startDate: startDate,#}
{#    startTime: startTime,#}
{#    units: units,#}
{#    dates: dates#}
{#  }, function(data) {#}
{#    if (!data.is_valid_checkpoint &&#}
{#        !$('#alert_placeholder').find('#checkpointAlert' + num).length) {#}
{#      calc.alert('Checkpoint '+ num + '\'s distance is invalid.' +#}
{#        ' It must be a number and within the valid distance interval.',#}
{#        'checkpointAlert' + num);#}
{#        // highlight bad fields?#}
{#    } else {#}
{#      calc.addCheckpoint(that);#}
{##}
{#      if (calc.isNewSession) {#}
{#        calc.isNewSession = false;#}
{#      } else if (checkpoint === '') {#}
{#        openField.val('Open time');#}
{#        closeField.val('Close time');#}
{#      }#}
{##}
{#      calc.setStartOpenClose(data.start_open_date, data.start_time,#}
{#          data.start_close_time);#}
{##}
{#      startDate = calc.startDateField.val();#}
{#      startTime = calc.startTimeField.val();#}
{##}
{#      if (startDate === '') {#}
{#        calc.startDateField.val(data.start_date);#}
{#      }#}
{##}
{#      if (startTime === '') {#}
{#        calc.startTimeField.val(data.start_time);#}
{#      }#}
{##}
{#      openField.val(data.open_time);#}
{#      closeField.val(data.close_time);#}
{#    }#}
{#  });#}
{#};#}
{##}
{#/**#}
{# * Sets the starting date and time fields.#}
{# */#}
{#calc.setStartDateTime = function(startDate, startTime) {#}
{#  // AJAX request#}
{#  $.getJSON($SCRIPT_ROOT + '/_get_start_date_times', {#}
{#    startDate: startDate,#}
{#    startTime: startTime#}
{#  }, function(data) {#}
{##}
{#    var isValidDate = data.is_valid_date;#}
{#    var isValidTime = data.is_valid_time;#}
{##}
{#    if (!isValidDate || !isValidTime) {#}
{#      if (!isValidDate &&#}
{#          !$('#alert_placeholder').find('#startDateAlert').length) {#}
{#        calc.alert('The Starting Date you entered is invalid. It must have' +#}
{#          ' this form: YYYY/MM/DD', 'startDateAlert');#}
{#        // highlight bad fields?#}
{#      }#}
{#      if (!isValidTime &&#}
{#          !($('#alert_placeholder').find('startTimeAlert').length)) {#}
{#        calc.alert('The Starting Time you entered is invalid. It must be' +#}
{#        ' in 24 format and have this form: HH:mm', 'startTimeAlert');#}
{#      }#}
{#      // highlight bad fields?#}
{#      return#}
{#    }#}
{##}
{#    calc.resetCheckpoints();#}
{#  });#}
{#};#}
{##}
{#/**#}
{# * Sets the starting checkpoint's open and close fields.#}
{# */#}
{#calc.setStartOpenClose = function(startDate, startTime, startCloseTime) {#}
{#  calc.startOpenField.val(startDate + ' ' + startTime);#}
{#  calc.startCloseField.val(startDate + ' ' + startCloseTime);#}
{#};#}
{##}
{#/**#}
{# * Resets all currently set checkpoints' open and close fields.#}
{# */#}
{#calc.resetCheckpoints = function() {#}
{#  var length = calc.checkpoints.length;#}
{#  for (var i = 0; i < length; i++) {#}
{#    if (calc.checkpoints[i] !== undefined) {#}
{#      calc.setCheckpoint(calc.checkpoints[i]);#}
{#    }#}
{#  }#}
{#};#}
{##}
{#/**#}
{# * Adds a checkpoint to the {@checkpoints} array.#}
{# * @checkpoint {object} The checkpoint to add.#}
{# */#}
{#calc.addCheckpoint = function(checkpoint) {#}
{#  var num = checkpoint.parents('.form-group').find('.checkpoint-label').text();#}
{#  num = num.split(' ')[1].split(':')[0];#}
{##}
{#  calc.checkpoints[num - 2] = checkpoint;#}
{#};#}
{##}
{#/**#}
{# * Gets a checkpoint's number.#}
{# * @checkpoint {object} The checkpoint.#}
{# */#}
{#calc.getCheckpointNum = function(checkpoint) {#}
{#  var num = checkpoint.parents('.form-group').find('.checkpoint-label').text();#}
{#  return num.split(' ')[1].split(':')[0];#}
{#};#}
{##}
{#/**#}
{# * Creates a Bootstrap alert.#}
{# * @message {string} The alert message.#}
{# * @alert_type {string) The alert type.#}
{# */#}
{#calc.alert = function(message, alert_type) {#}
{#  var alertMsg = '<div class="alert alert-warning alert-dismissible" \#}
{#  role="alert" id="' + alert_type + '"><button type="button" class="close" \#}
{#  data-dismiss="alert"aria-label="Close"><span aria-hidden="true">&times;\#}
{#  </span></button><strong>Warning!</strong> ' + message + '</div>';#}
{##}
{#  $('#alert_placeholder').append(alertMsg);#}
{#};#}
{##}
{#/**#}
{# * Listens for changes to the Starting Date field. Sets the#}
{# * starting checkpoint's open and close times.#}
{# */#}
{#calc.startDateField.change(function() {#}
{#  var startDate = $(this).val();#}
{#  var startTime = calc.startTimeField.val();#}
{##}
{#  calc.setStartDateTime(startDate, startTime);#}
{#});#}
{##}
{#/**#}
{# * Listens for changes to the Starting Time field. Sets the starting#}
{# * checkpoint's open and close times.#}
{# */#}
{#calc.startTimeField.change(function() {#}
{#  var startDate = calc.startDateField.val();#}
{#  var startTime = $(this).val();#}
{##}
{#  calc.setStartDateTime(startDate, startTime);#}
{#});#}
{##}
{#/**#}
{# * Listens for changes to the first checkpoint's distance field.#}
{# */#}
{#$('#checkpoint').change(function() {#}
{#  calc.setCheckpoint($(this));#}
{#});#}
{##}
{#/**#}
{# * Listens for changes to the dates radio buttons.#}
{# */#}
{#$('#dates input:radio').change(function() {#}
{#  calc.resetCheckpoints();#}
{#});#}
{##}
{#/**#}
{# * Listens for changes to the units radio buttons.#}
{# */#}
{#$('#units input:radio').change(function() {#}
{#  calc.resetCheckpoints();#}
{#});#}
{##}
{##}
{#/**#}
{# * Listens for clicks on the add checkpoint button.#}
{# */#}
{#calc.addButton.click(function(e) {#}
{#  e.preventDefault();#}
{##}
{#  calc.checkpointCount += 1;#}
{#  var num = calc.checkpointCount + 1;#}
{##}
{#  if (calc.checkpointCount > 1) {#}
{#    $('.btn-remove').removeAttr('disabled');#}
{#  }#}
{##}
{#  var controlForm = $('.checkpoints div:first'),#}
{#      currentEntry = $('.entry:first'),#}
{#      newEntry = $(currentEntry.clone()).appendTo(controlForm);#}
{##}
{#  newEntry.find('input').val('');#}
{#  newEntry.find('.checkpoint-label').text('Checkpoint ' + num);#}
{#  controlForm.find('.entry:not(:last)');#}
{##}
{#  newEntry.find('#checkpoint').change(function() {#}
{#    calc.setCheckpoint($(this));#}
{#  });#}
{#});#}
{##}
{#/**#}
{# * Listens for clicks on the remove checkpoint button.#}
{# */#}
{#calc.removeButton.click(function(e) {#}
{#  $('.entry:last').remove();#}
{##}
{#  calc.checkpointCount -= 1;#}
{##}
{#  if (calc.checkpointCount <= 1) {#}
{#    $(this).attr('disabled', 'disabled')#}
{#  }#}
{##}
{#  e.preventDefault();#}
{#  return false;#}
{#});#}
{##}
{#/**#}
{# * Listens for clicks on the generate text button.#}
{# */#}
{#calc.textButton.click(function() {#}
{#  var brevetDistance = $("#brevetDistance option:selected").val();#}
{#  var startDate = calc.startDateField.val();#}
{#  var startTime = calc.startTimeField.val();#}
{#  var startOpen = calc.startOpenField.val();#}
{#  var startClose = calc.startCloseField.val();#}
{#  var units = $('#units input:radio:checked').val();#}
{#  var dates = $('#dates input:radio:checked').val();#}
{#  var checkpointDistances = [];#}
{#  var openTimes = [];#}
{#  var closeTimes = [];#}
{##}
{#  var that;#}
{#  var openField;#}
{#  var closeField;#}
{#  var i;#}
{#  var length = calc.checkpoints.length;#}
{##}
{#  for (i = 0; i < length; i++) {#}
{#    if (calc.checkpoints[i] !== undefined) {#}
{#      that = calc.checkpoints[i];#}
{#      openField = that.parents('.form-group').find('#openField');#}
{#      closeField = that.parents('.form-group').find('#closeField');#}
{##}
{#      checkpointDistances[i] = that.val();#}
{#      openTimes[i] = openField.val();#}
{#      closeTimes[i] = closeField.val();#}
{#    }#}
{#  }#}
{##}
{#  $.getJSON($SCRIPT_ROOT + '/_create_text', {#}
{#    brevetDistance: brevetDistance,#}
{#    startDate: startDate,#}
{#    startTime: startTime,#}
{#    startOpen: startOpen,#}
{#    startClose: startClose,#}
{#    units: units,#}
{#    dates: dates,#}
{#    checkpointDistances: JSON.stringify(checkpointDistances),#}
{#    openTimes: JSON.stringify(openTimes),#}
{#    closeTimes: JSON.stringify(closeTimes)#}
{#  });#}
{#  window.open('/text');#}
{#});#}
{##}
{#</script>#}

<script type="text/javascript" src="static/js/calc.js"></script>

</div>
</body>
</html>
